PORT=3000
MEDIAGATHERER_DATA_DIR=
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
APP_WRITE_TOKEN=
YOUTUBE_API_KEY=
FLICKR_API_KEY=
GOOGLE_API_KEY=
GOOGLE_CX=155c4d451e53743c2
BRAVE_API_KEY=
TMDB_API_KEY=
IMGUR_CLIENT_ID=
TUMBLR_API_KEY=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
MASTODON_INSTANCE=mastodon.social
MASTODON_ACCESS_TOKEN=
PEERTUBE_INSTANCE=https://peertube.tv
SEARXNG_INSTANCE=
LEMMY_INSTANCE=https://lemmy.world
LEMMY_ACCESS_TOKEN=
PIXELFED_INSTANCE=https://pixelfed.social
PIXELFED_ACCESS_TOKEN=
GITHUB_TOKEN=
PODCAST_INDEX_API_KEY=
PODCAST_INDEX_API_SECRET=
PEXELS_API_KEY=
GIPHY_API_KEY=
GELBOORU_API_KEY=
GELBOORU_USER_ID=
DANBOORU_LOGIN=
DANBOORU_API_KEY=
STASHDB_API_KEY=
KV_REST_API_URL=
KV_REST_API_TOKEN=
MEDIAGATHERER_REMOTE_KEY=mediagatherer:store
